*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.herobanner{
    background-image: url("img/bgWeb2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.herobanner__container{
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.herobanner__container img{
    width: 50%;
}

footer img{
    width: 100%;
}
@media screen and (max-width: 768px){
    .herobanner{
        background-image: url("img/bgCel2.png");
    }
    .herobanner__container img{
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .herobanner__container{
        padding: 50px;
    }
}
